Repository kleitusOleny/CoffeeStore, pull requests merged in 2025-05, with the labels that each got.

#56 General fiexed data in gson, part 1
  src/main/data/FormatClient.java
  src/main/data/FormatDiscount.java
  src/main/data/client.json
  src/main/data/listdiscount.json
  src/main/data/listname.json
  src/main/data/test.java
  src/main/data/transactionhistory.json
  src/main/view/DiscountPanel.java
  src/test/java/ToolRandomAccount.js
  src/test/java/ToolRandomName.js
  src/test/java/ToolRandomTransaction.js
Labels: enhancement, data

#60 Xử lý 3 phần data từ trong DiscountPanel, truyền vào trong data package
  src/main/data/FormatClient.java
  src/main/data/ReadFileJson.java
  src/main/data/client.json
  src/main/data/listdiscount.json
  src/main/view/DiscountPanel.java
Labels: enhancement, help wanted, data

#70 Đã xử lý phần thêm khách hàng và phần trong thông tin khách hàng
  src/main/data/FormatClient.java
  src/main/data/ReadFileJson.java
  src/main/data/client.json
  src/main/view/ChangeInforCustomerDialog.java
  src/main/view/DiscountPanel.java
  src/main/view/LoginPanel.java
Labels: data

#78 Viết xong phương thức thêm nhân viên và xoá nhân viên trong EmployeeManagement
  src/main/controller/LoginController.java
  src/main/data/ReadFileJson.java
  src/main/data/client.json
  src/main/data/dto/FormatAccounts.java
  src/main/data/dto/FormatClient.java
  src/main/data/dto/FormatDiscount.java
  src/main/data/dto/FormatEmployee.java
  src/main/data/listemployee.json
  src/main/model/MainSystem.java
  src/main/view/LoginPanel.java
  src/main/view/Manager/AddEmployeeDialog.java
  src/main/view/Manager/ChangforInforEmployeeDialog.java
  src/main/view/Manager/EmployeeManagement.java
  src/main/view/Staff/DiscountPanel.java
Labels: data

#79 Xử lý data trong phần khuyến mãi thuộc Manager UI
  src/main/Application.java
  src/main/RunApplication.java
  src/main/data/ReadFileJson.java
  src/main/data/dto/FormatDiscount.java
  src/main/data/listdiscount.json
  src/main/view/Manager/PromotionManagement.java
Labels: data

#83 Quên luôn viết được những gì rồi, nói chung là trong phần thanh toán
  src/main/data/ReadFileJson.java
  src/main/data/client.json
  src/main/data/dto/FormatDiscount.java
  src/main/data/dto/FormatPay.java
  src/main/data/listdiscount.json
  src/main/data/listpay.json
  src/main/view/MainFrame.java
  src/main/view/Staff/ChangeInforCustomerDialog.java
  src/main/view/Staff/DiscountPanel.java
  src/main/view/Staff/InvoiceDialog.java
  src/main/view/Staff/OrderItem.java
  src/main/view/Staff/PaymentPanel.java
  src/main/view/Staff/TransactionHistoryDialog.java
Labels: data

#84 Add Load Data to Model (Account, Customer, Employee) & fix LoginController
  src/main/controller/LoginController.java
  src/main/controller/PaymentController.java
  src/main/data/client.json
  src/main/model/Date.java
  src/main/model/IModel.java
  src/main/model/MainSystem.java
  src/main/model/customer_system/CustomerSystem.java
  src/main/model/customer_system/VIPCustomer.java
  src/main/model/employee_system/Date.java
  src/main/model/employee_system/Employee.java
  src/main/model/employee_system/EmployeeSystem.java
  src/main/model/employee_system/Manager.java
  src/main/model/employee_system/Seller.java
  src/main/model/employee_system/WageEmployee.java
  src/main/model/payments/CreditCard.java
  src/main/utils/LoadDataToModel.java
  src/main/utils/LoginHandle.java
  src/main/utils/LoginModel.java
  src/main/view/LoginPanel.java
Labels: enhancement, model

#91 Complete Employee View
  src/main/controller/PaymentController.java
  src/main/controller/ReservationController.java
  src/main/data/listdiscount.json
  src/main/model/reservation_system/Reservation.java
  src/main/view/Staff/EmployeePanel.java
  src/main/view/Staff/InvoiceDialog.java
  src/main/view/Staff/OrderPanel.java
  src/main/view/Staff/PaymentPanel.java
  src/main/view/Staff/TablePanel.java
Labels: bug

#94 Thêm phần thêm thức uống ở giao diện Manager và chỉnh sư lại listdiscount.json
  src/main/data/ReadFileJson.java
  src/main/data/listdiscount.json
  src/main/data/listmenu.json
  src/main/view/Manager/AddDrinkDialog.java
Labels: data

#95 Thêm phương thức chỉnh sửa đồ uống trong Management UI truyền data
  src/main/data/ReadFileJson.java
  src/main/data/listmenu.json
  src/main/view/Manager/EditDrinkDialog.java
Labels: data

#97 Fix some bug
  src/main/controller/CustomerController.java
  src/main/controller/EmployeeController.java
  src/main/controller/StatisticsService.java
  src/main/model/customer_system/Customer.java
  src/main/model/customer_system/CustomerSystem.java
  src/main/model/employee_system/EmployeeSystem.java
  src/main/model/payments/TransactionLog.java
  src/main/utils/LoadDataToModel.java
  src/main/view/Manager/AddEmployeeDialog.java
  src/main/view/Manager/ChangforInforEmployeeDialog.java
  src/main/view/Manager/EmployeeManagement.java
  src/main/view/ManagerPanel.java
  src/main/view/Staff/ChangeInforCustomerDialog.java
  src/main/view/Staff/DiscountPanel.java
  src/main/view/Staff/EmployeePanel.java
  src/main/view/Staff/PaymentPanel.java
Labels: enhancement, model
